:root {
    --spacing: 10px;
    --blur: 3px;
    --base: #dda520;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
    
}
input[type='color']{
    width: 100px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    padding: var(--spacing);
    background-color: var(--base)
}
img{
    filter: blur(var(--blur))
}